body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Lobster"; }

header h2 {
  opacity: 66%; }

a {
  text-decoration: none; }

a:hover {
  color: darkgrey;
  text-decoration: underline; }

footer {
  margin-top: 100px; }

.banner {
  background-image: linear-gradient(lightgrey, #3015ab); }

.site-footer {
  background-image: linear-gradient(#e64a1a, white);
  padding: 20px 0; }

.navbar {
  background-image: linear-gradient(#e64a1a, #dada3e);
  opacity: 77%; }

.jumbotron {
  margin: 0; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #3015ab; }

.contactcard {
  margin: 100 25; }

.headingcontent {
  text-align: center; }
