$color-primary: #e64a1a;
$color-secondary: #3015ab;
$color-terciary: #dada3e;
$color-pale: #CEC8FF;
$color-mid: #d0d039;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster";

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}


header {
    h2 {
        opacity: 66%;
    }
}

a {
    text-decoration: none;
  }

a:hover {
    color: darkgrey;
    text-decoration: underline;
}

footer {
    margin-top: 100px;
}

.banner {
    background-image: linear-gradient(lightgrey, $color-secondary);
}

.site-footer {
    background-image: linear-gradient($color-primary, white);
    padding: 20px 0;
}

.navbar {
    background-image: linear-gradient($color-primary, $color-terciary);
    opacity: 77%;
}

.jumbotron {
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.carousel-caption {
    background-color: $color-black-transparent;
}

.carousel {
    border: solid $color-secondary;
}

.contactcard {
    margin: 100 25
}

.headingcontent {
    text-align: center;
    margin-top: 100px;
}